ul li{
    color: rgb(22, 10, 151);
    font-size: large;
}
p{
    font-size: medium;
}
h1{
    color:rgb(158, 7, 158);
}
h3{
    margin-right: 80%;
}
h3:hover,small:hover,button:hover{
    background-color:darkblue;
}
#header{
    background-color:brown;
}
tr:nth-child(n) td,tr:nth-child(n) th{
    background-color: rgb(236, 43, 43);
}
*{
    background-color:darkgray;
}
h2.range{
    background-color: rgb(255, 251, 0);
    margin-right: 80%;
}
h1.rangeheads{
    background-color: rgb(255, 221, 0);
    margin-right: 70%;
}
h1.this{
    background-color: burlywood;
    margin-right: 70%;
}
